.header
  %ul.nav.nav-pills.pull-right
    %li{class: ("active" if params[:controller] == 'welcome')}= link_to t('header.home'), root_path
    - unless user_signed_in?
      %li{class: ("active" if params[:controller] == 'devise/sessions')}= link_to t('header.sign_in'), new_user_session_path
    - else
      %li{class: ("active" if params[:controller] == 'campaigns')}= link_to t('header.campaigns'), campaigns_path
      %li= link_to t('header.sign_out'), destroy_user_session_path, method: :delete
  %h3.text-muted= t(:title)