.jumbotron
  %h1= t 'welcome.index.title'
  %p.lead= t('welcome.index.text').html_safe
  %p= link_to t('welcome.index.start'), campaigns_path, class: 'btn btn-lg btn-success'

= render 'shared/embed_code'