%h1 Log in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
  = f.input :email
  = f.input :password
  .form-group
    .col-sm-offset-5= f.button :submit, t('header.sign_in')
  