= simple_form_for(@campaign, html: {class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
  = f.input :name
  = f.input :link
  = f.input :image

  .form-group
    .col-sm-offset-5= f.button :submit