= render 'shared/embed_code'

= link_to new_campaign_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  = t('campaigns.add_campaign')
%br/
%br/

- unless @campaigns.empty?
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th= t('campaigns.name')
        %th= t('campaigns.link')
        %th= t('campaigns.actions')
    %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.name
        %td= campaign.link
        %td
          .btn-group
            = link_to campaign_path(id: campaign.id), class: 'btn btn-xs btn-success' do
              %span.glyphicon.glyphicon-eye-open
              = t('campaigns.show')
            = link_to edit_campaign_path(id: campaign.id), class: 'btn btn-xs btn-info' do
              %span.glyphicon.glyphicon-pencil
              = t('campaigns.edit')
            = link_to campaign_path(id: campaign.id), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t(:confirm) } do
              %span.glyphicon.glyphicon-trash
              = t('campaigns.delete')

