.page-header
  %h1
    = @campaign.name
    %small= link_to @campaign.link, @campaign.link, target: :blank

.well
  .row
    .col-md-6
      = image_tag(@campaign.image)
    .col-md-4
      %table.table.table-bordered.stats-table
        %tr
          %td.cap= t('campaigns.views')
          %td.count
            %span.badge{id: 'views_field'}= @counts[:views]
        %tr
          %td.cap= t('campaigns.hits')
          %td.count
            %span.badge{id: 'hits_field'}= @counts[:hits]
        %tr
          %td.cap= t('campaigns.conversion')
          %td.count
            %span.badge{id: 'conversion_field'}= "#{@counts[:conversion]}%"

= link_to :back, class: 'btn btn-default' do
  %span.glyphicon.glyphicon-circle-arrow-left
  = t(:back)

:coffee
  window.ws_channel = #{@campaign.id}