!!!
%html
  %head
    %title Banengine
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: "#{params[:controller]} #{params[:action]}"}
    .container
      = render 'shared/header'
      = flash_message
      = yield
      = render 'shared/footer'
